/*Estilos generales*/
*{
    margin: 0;
}

body{
    background-color: #171717;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
}

/*Estilos del header*/
header{
    margin-top: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 8vh;
    background-color: #171717;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header ul{
    display: flex;
    gap: 45px;
    margin-left: 40px;
}

header ul li a{
    padding: 5px 25px;
    font-size: 1.8rem;
}

header ul li a:hover{
    color: #F8FC78;
    cursor: pointer;
}

/*Estilos generales de las listas*/
ul{
    list-style: none;
    overflow: hidden;
}

/*Estilos de los enlaces*/
a{
    text-decoration: none;
    color: #ffffff;
}

/*Estilo del aside*/
aside{
    float: left;   
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#go{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171717;
}

#go span{
    font-size: 2.2rem;
    letter-spacing: 5px;
}

#go p{
    margin-top: 25px;
    font-size: 1.6rem;
    color: #F8FC78;
}

#icons_social{
    width: 65%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    color: #ffffff;
    background-color: #171717;
}

#icons_social span{
    display: block;
    font-size: .9rem;
    transform: rotate(-90deg);
    letter-spacing: 2px;
}

#icons_social ul{
    margin-right: 20px;
}

#icons_social ul li i:hover{
    color: #F8FC78;
}

#icons_social ul li i{
    font-size: 1.5rem;
    margin: 18px 0;
}

/*Estilos del home*/
#home{
    height: 100vh;
    width: 100%;
    background-image: url(../img/portada.jpg);
    background-position: 35% 0%;
}

#home article{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#home h1{
    font-size: 3.8em;
    letter-spacing: 10px;
    text-align: right;
}

#home p{
    width: 60%;
    font-size: 2em;
    text-align: right;
    letter-spacing: 2px;
    margin-top: 15px;
}

#home button{
    background-color: rgba(255, 0, 93, 0.989);
    color: #ffffff;
    font-size: 1.5em;
    padding: 15px 35px;
    border: 1px solid rgba(255, 0, 93, 0);
    border-radius: 45px;
    margin-top: 18px;
    transition: background 2s, border 2s;

}

#home button:hover{
    cursor: pointer;
    background-color: #f8fc7816;
    border: 1px solid rgba(255, 0, 93, 0.989);
}

button i{
    font-size: 1em;
    margin-left: 15px;
}

/*Estilos generales de las secciones*/
.section{
    width: 100%;
}

h3{
    letter-spacing: 5px;
}

h3 span{
    color: #F8FC78;
}

/*Estilos de la seccion about us*/
#about_us{
    padding-top: 100px;
}

#about_us h3{
    font-size: 3.2em;
    text-align: center;
}

#about_us article{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
    margin-top: 50px;
}

#aboutAbs{
    position: absolute;
    top: 80%;
    left: 8%;
    font-size: 8em;
    letter-spacing: 10px;
    opacity: 0.060;
    z-index: -1;
}

#about_us article div{
    width: 20%;
    height: 40vh;
    padding: 10px;
    text-align: left;
}

#about_us img{
    width: 20%;
    height: 40vh;
    overflow: hidden;
}

h5{
    letter-spacing: 2.8px;  
}

#ideas h5{
    font-size: 2em;
}

#ideas p{
    margin-top: 35px;
    font-size: 1.5em;
    text-align: left;
    letter-spacing: 2px;
}

#specialization{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#specialization h5{
    margin-top: 0;
    font-size: 1.8em;
}

#specialization span{
    font-size: 1.4em;
    letter-spacing: 2px;
}

#specialization i{
    color: #f8fc78a7;
    font-size: 2em;
}

/*Estilos de la seccion our projects*/
#projects h3{
    font-size: 3.2em;
    text-align: center;
    margin: 60px 0;
    padding-top: 70px; 
}

#projects article{
    display: flex;
    flex-direction: row;
}

#projects article div{
    width: 25%;
    position: relative;
    height: 78vh;
    filter: opacity(.75);
    background-position: center;
    background-size: cover;
}

#projects article div:hover{
    filter: opacity(.9);
}

#projects article div h7{
    position: absolute;
    font-size: 1.5em;
    top: 25px;
    left: 25px;
    letter-spacing: 2px;
}

#projects article div span{
    position: absolute;
    transform: rotate(-90deg);
    font-size: 1.2em;
    top: 80%;
    left: -15px;
    letter-spacing: 2px;
}

#projects article div:first-child{
    background-image: url(../img/img1.jpg);
}

#projects article div:nth-child(2){
    background-image: url(../img/img2.jpg);
}

#projects article div:nth-child(3){
    background-image: url(../img/img3.jpg);
}

#projects article div:last-child{
    background-image: url(../img/img4.jpg);
}

footer{
    display: flex;
    place-items: center;
    justify-content: center;
    font-size: 2em;
}

footer span{
    padding: 20px;
    letter-spacing: 2px;
}

footer span a{
    color: #F8FC78;
}

/*Estilos para computadoras medianas*/
@media screen and (max-width: 1280px){
    /*Estilos del header*/
    header ul li a{
        font-size: 2.2em;
    }

    #go span{
        font-size: 3em;
    }
    
    #go p{
        font-size: 1.2rem;
    }

    #home h1{
        font-size: 3.2em;
    }
    
    #home p{
        font-size: 1.8em;
    }
    
    #home button{
        font-size: 1.2em;
    }

    #icons_social span{
        font-size: 1.2em;
    }
    
    #icons_social ul li i{
        font-size: 2em;
    }

    footer{
        font-size: 1.5em;
    }
    
}

/*Estilos para tablets*/
@media screen and (max-width: 768px){
    header ul li a{
        padding: 5px 15px;
        font-size: 1.4rem;
    }    

    /*Estilo del aside*/
    aside{
        width: 25%;
    }

    #go span{
        font-size: 2em;
        letter-spacing: 2px;
    }

    #go p{
        font-size: 1.2em;
    }

    
    /*Estilos del home*/
    #home{
        background-position: 38% 0%;
    }

    #home article{
        width: 70%;
        height: 70%;
    }

    #home h1{
        font-size: 3em;
        letter-spacing: 2px;
    }
    
    #home p{
        font-size: 1.4em;
    }
    
    #home button{
        font-size: 1em;
        padding: 12px 15px;
    }
    
    button i{
        font-size: 1em;
        margin-left: 8px;
    }
   
    /*Estilos de la seccion about us*/
    #aboutAbs{
        font-size: 5em;
        letter-spacing: 10px;
    }

    #specialization h5{
        font-size: 1.5em;
    }

    #ideas h5{
        font-size: 1.5em;
    }

    #ideas p{
        font-size: 1em;
    }

    /*Estilos del footer*/
    footer span{
        font-size: 1em;
    }
}

@media screen and (max-width: 451px) {
    /*Estilos del header*/    
    header ul li a{
        font-size: 1.7em;
    }
}

/*Medidas par celular*/
@media screen and (max-width: 426px){
     /*Estilos del header*/
    header ul{
        gap: 5px;
    }

    /*Estilo del aside*/
    aside{
        width: 32%;
    }

    #icons_social span{
        width: 140px;
        font-size: 1em;
        letter-spacing: 3px;
    }

    #icons_social ul li i{
        font-size: 1.8em;
    }


    /*Estilos del home*/
    #home{
        background-position: 39% 0%;
    }

    #home article{
        width: 60%;
        height: 60%;
    }

    #home h1{
        font-size: 2.8em;
    }
    
    #home p{
        width: 200px;
        font-size: 1.2em;
    }
    
    #home button{
        font-size: 1em;
    }
    
    button i{
        font-size: 1.2em;
    }

    /*Estilos de la seccion about us*/
    #about_us article{
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    #aboutAbs{
        top: 2%;
        left: 3%;
    }

    #about_us article div{
        width: 70%;
        height: 50vh;
    }

    #about_us article img{
        width: 70%;
    }

    #specialization h5{
        font-size: 2em;
    }

    #ideas h5{
        font-size: 2em;
    }

    #ideas p{
        font-size: 1.5em;
    }
    
    /*Estilos de la seccion our projects*/
    #projects article{
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    
    #projects article div{
        width: 80%;
        height: 80vh;
    }

    /*Estilos del footer*/
    footer span{
        font-size: 1em;
        letter-spacing: 2px;
        text-align: center;
    }


}

@media screen and (max-width: 320px){
    /*Estilos del header*/
    header ul{
        gap: 2px;
    }

    header ul li a{
        font-size: 1.5em;
    }
    
    #go p{
        font-size: 1.2em;
    }

    #home h1{
        font-size: 2em;
    }
    
    #home p{
        font-size: 1em;
    }
    
    #home button{
        font-size: .8em;
    }
 
    #home article{
        width: 62%;
    }

    #home h1{
        font-size: 24px;
    }

    #about_us article div{
        width: 80%;
    }

    #projects article div{
        width: 80%;
    }
}